[custom]

ruleset=🎯 全球直连,https://raw.githubusercontent.com/ice-qq/clash-config/refs/heads/master/direct_white.list
ruleset=🚀 节点选择,https://raw.githubusercontent.com/ice-qq/clash-config/refs/heads/master/proxy_black.list
ruleset=💬 OpenAi,https://raw.githubusercontent.com/ice-qq/clash-config/refs/heads/master/openai.list
ruleset=🚫 全球拦截,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/BanAD.list
ruleset=🚫 全球拦截,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/BanProgramAD.list
ruleset=🎯 全球直连,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/GoogleCN.list
ruleset=🎯 全球直连,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/SteamCN.list
ruleset=💬 OpenAi,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/OpenAi.list
ruleset=🚀 节点选择,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Telegram.list
ruleset=🚀 节点选择,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/ProxyGFWlist.list
ruleset=🚀 节点选择,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/ProxyMedia.list
ruleset=🚀 节点选择,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/ProxyLite.list
ruleset=🎯 全球直连,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/ChinaDomain.list
ruleset=🎯 全球直连,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/ChinaCompanyIp.list
ruleset=🎯 全球直连,https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/ChinaIp.list
ruleset=🎯 全球直连,[]GEOIP,CN
ruleset=🚀 节点选择,[]GEOIP,US
ruleset=🇯🇵 日本节点,[]GEOIP,JP
ruleset=🇸🇬 狮城节点,[]GEOIP,SG
ruleset=🇨🇳 台湾节点,[]GEOIP,TW
ruleset=🐟 漏网之鱼,[]FINAL

custom_proxy_group=🚀 节点选择`select`[]🔄 自动选择`[]DIRECT`[]🇨🇳 台湾节点`[]🇸🇬 狮城节点`[]🇭🇰 香港节点`[]🇯🇵 日本节点`[]⭐ 优质节点`[]🌟 IPLC`.*
custom_proxy_group=🔄 自动选择`url-test`.*`http://www.gstatic.com/generate_204`600,,50
custom_proxy_group=💬 OpenAi`url-test`(^(?!.*(港|HK|hk|Hong Kong|HongKong|hongkong|发布)).*)`http://www.gstatic.com/generate_204`600,,50
custom_proxy_group=🎯 全球直连`select`[]DIRECT`[]🚀 节点选择`[]🔄 自动选择
custom_proxy_group=🚫 全球拦截`select`[]REJECT`[]DIRECT
custom_proxy_group=🇨🇳 台湾节点`url-test`(台|新北|彰化|TW|Taiwan)`http://www.gstatic.com/generate_204`900,,50
custom_proxy_group=🇸🇬 狮城节点`url-test`(新加坡|坡|狮城|SG|Singapore)`http://www.gstatic.com/generate_204`900,,50
custom_proxy_group=🇭🇰 香港节点`url-test`(港|HK|hk|Hong Kong|HongKong|hongkong)`http://www.gstatic.com/generate_204`900,,50
custom_proxy_group=🇯🇵 日本节点`url-test`(日本|川日|东京|大阪|泉日|埼玉|沪日|深日|[^-]日|JP|Japan)`http://www.gstatic.com/generate_204`900,,50
custom_proxy_group=⭐ 优质节点`url-test`(Premium|premium)`http://www.gstatic.com/generate_204`900,,50
custom_proxy_group=🌟 IPLC`url-test`(iplc|IPLC)`http://www.gstatic.com/generate_204`1800,,50
custom_proxy_group=🐟 漏网之鱼`select`[]🎯 全球直连`[]🚀 节点选择`[]🔄 自动选择`

enable_rule_generator=true
overwrite_original_rules=true
